################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/HBaseManagementStudio/bin/Debug
/HBaseManagementStudio/obj/Debug
/HBaseThrift/bin/Debug
/HBaseThrift/obj/Debug
/Lib/gen-csharp
/Lib/thrift-0.9.3.exe
/Lib/hbase.thrift
/packages
